/*
- first color: #7D6A60
- second color: #C9B8AF
- third color: #C99E87
- fourth color: #72C9C5
- fifth color: #607D7C
*/
.hero {
/*    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(0, 0, 0, 0.6));*/
    background: transparent;
    background-size:cover;
    background-position: 0 -50px; 
    background-attachment: fixed;    
    background-repeat: no-repeat;
    height: 33vh;  
    position: relative;
    top: 70px;    
}
.hero h1 {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
    font-size: 42px; 
    padding: 20px;
    border: 3px solid #607D7C;
    color: #404040;
}

.contact .text {
   margin: 40px 0px;
}
.contact .text:after {
    display: block;
    height: 2px;
    background-color: #607D7C;
    content: " ";
    width: 400px;
    margin: 0 auto;
    margin-top: 14px;
}
.contact .text h3 {
    font-size: 22px;
}
.map {
    height: 100%;
}

.doctor {
    position: relative;
}

.doctor img {
    border-radius: 50%;
    width: 70%;
    margin: 20px;  
    box-shadow: 0px 22px 68px -9px rgba(96, 125, 124, 0.5);
}
.doctor a {
    text-decoration: none;
    color: #607D7C;
}
.doctor a:hover,
.doctor a:active {
    color: #72C9C5;
}
@media screen and (max-width:864px) {
    .doctor img {
        border-radius: 50%;
        width: 50%;
        margin: 10px;
        transform: translateX(50%);
    }
}

.contact h1 {
    margin-top: 40px;
    padding-bottom: 0;
}
.mapa h1 {
    margin-bottom: 20px;
}
.mapa h1:after {
    display: block;
    height: 2px;
    background-color: #7D6A60;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

