/*
- first color: #7D6A60
- second color: #C9B8AF
- third color: #C99E87
- fourth color: #72C9C5
- fifth color: #607D7C
*/
.hero {
/*    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(0, 0, 0, 0.6));*/
    background: transparent;
    background-size:cover;
    background-position: 0 -50px; 
    background-attachment: fixed;    
    background-repeat: no-repeat;
    height: 33vh;  
    position: relative;
    top: 70px;    
}
.hero h1 {        
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-75%);
    font-size: 42px; 
    padding: 20px;
    border: 3px solid #497C80;
    color: #393939;
}

@media screen and (max-width:1010px) {
    .hero h1 { 
        font-size: 36px;
        padding: 12px;     
    }
}
@media screen and (max-width:800px) {
    .hero h1 { 
        font-size: 30px;
        padding: 8px;
        width: 90%;
    }
}
.contact .text {
   margin: 40px 0px;
}
.contact .text:after {
    display: block;
    height: 2px;
    background-color: #497C80;
    content: " ";
    width: 400px;
    margin: 0 auto;
    margin-top: 14px;
}
.contact .text h3 {
    font-size: 22px;
}
.map {
    height: 100%;
}

.doctor {
    position: relative;
    margin-bottom: 40px;
}
.doctor h2 {
    margin-bottom: 20px;
}
.doctor img {    
    border-radius: 50%;
    width: 70%;
    margin: 20px;  
    box-shadow: 0px 22px 68px -9px rgba(73, 124, 128, 0.4);
    margin: 0px auto;
}
.doctor a {
    text-decoration: none;
    color: #497C80;
}
.doctor a:hover,
.doctor a:active {
    color: #72C9C5;
}
.opis {
    width: 100%;
    margin-top: 16px;
}
@media screen and (max-width:1200px) {
    .doctor img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        margin: 10px;        
    }
}
@media screen and (max-width:765px) {
    .doctor img {
        border-radius: 50%;
        width: 50%;
        height: 50%;
        margin: 10px auto;  
        transform: translateX(50%);
    }
    .opis p {  
        font-size: 18px;        
        width: 50%;
        transform: translateX(50%);
    }
}
.contact h1 {
    margin-top: 40px;
    padding-bottom: 0;
}
.mapa h1 {
    margin-bottom: 0px;
}
.mapa h1:after {
    display: block;
    height: 2px;
    background-color: #7D6A60;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}
.mapa iframe {
    box-shadow: 0px 22px 68px -9px rgba(57, 57, 57, 0.3);
}
.mapa .kontakt h3 {    
    margin-bottom: 24px;    
}
.mapa .kontakt h3,
.mapa .kontakt h4,
.mapa .kontakt h5 {
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
}
.mapa .kontakt a {
    text-decoration: none;
    color: #497C80;
}
.mapa .kontakt a:hover {
    color: #72C9C5;
}
.border-right {
    border-right: 2px solid #497C80;
}
.full-height {
    height: 200px;
}
@media screen and (max-width:765px) {
    .border-right {
        border-right: none;
        border-bottom: 2px solid #497C80;
    }
    .full-height {
        height: 100%;
    }
}