/*
- first color: #7D6A60
- second color: #C9B8AF
- third color: #C99E87
- fourth color: #72C9C5
- fifth color: 607D7C
*/
.hero {
    background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(0, 0, 0, 0.6));
    background-size:cover;
    background-position: center; 
    background-attachment: fixed;    
    background-repeat: no-repeat;        
    height: 33vh;  
    position: relative;
    top: 70px;
}

.experience {
    margin-top: 80px;
}

.experience h1 {
    padding-bottom: 12px;
}

.intro {
    padding-bottom: 0;
}
.intro h1 {
    padding-bottom: 25px;
}
.intro h1:after {
    display: block;
    height: 2px;
    background-color: #7D6A60;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.intro p {    
    width: 70%;
    margin: auto;
}
.experience .teeth-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;    
}

.dyplomy ul {
    list-style: none;
}

.dyplomy .inner {
    margin: auto;
    text-align: center;    
    -webkit-box-shadow: 0px 0px 6px #c1c1c1;
    -moz-box-shadow: 0px 0px 6px #c1c1c1;
    box-shadow: 0px 0px 6px #c1c1c1;
    height: 300px;
    width: 300px; 
    margin-bottom: 20px;
}

.dyplomy .inner span {
    height: 60px;
    width: 60px;
    display: inline-block;    
    background-size: 68px;
    margin: 30px;
    margin-bottom: 0;
    background: url(../img/diploma.png) no-repeat top center;
    display: inline-block;    
    background-size: 58px;
}

