.hero {    
    background-position:0px -420px;
/*    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(75, 75, 75, 0.6));   */
    background: transparent;
    background-size:cover;     
    background-attachment: fixed;    
    background-repeat: no-repeat;
    height: 33vh;  
    position: relative;
    top: 70px;
}
.hero h1 {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    font-size: 42px; 
    padding: 20px;
    border: 3px solid #497C80;
    color: #393939;
}
@media screen and (max-width:1010px) {
    .hero h1 { 
        font-size: 36px;
        padding: 12px;     
    }
}
@media screen and (max-width:800px) {
    .hero h1 { 
        font-size: 30px;
        padding: 8px;
        width: 90%;
    }
}
.oferta {
    margin-top: 60px;
}

.oferta .inner .fourth {
    background: url(../img/png/decay-in-a-tooth.png) no-repeat top center;
    display: inline-block;    
    background-size: 68px;
}

.oferta .inner .fifth {
    background: url(../img/png/molar-inside-a-shield.png) no-repeat top center;
    display: inline-block;    
    background-size: 68px;
}

.oferta .inner .sixth {
    background: url(../img/png/dental-device.png) no-repeat top center;
    display: inline-block;    
    background-size: 68px;
}

.oferta .inner .seventh {
    background: url(../img/png/tooth-filling.png) no-repeat top center;
    display: inline-block;    
    background-size: 68px;
}
.oferta .inner .eight {
    background: url(../img/png/dental-drill.png) no-repeat top center;
    display: inline-block;    
    background-size: 68px;
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.inner {
    position: relative;
}
.inner h3 {
    padding: 0 8px;
}
.inner .btn-more { 
    visibility: hidden;
    border: none;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    width: 100%;
    height: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold; 
    position: absolute;
    bottom: 0; 
    left: 0;
    height: 50px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    transition: all 0.4s ease;
}


.inner .btn-more:hover,
.inner .btn-more:active,
.inner .btn-more:focus {
    background: rgba(73, 124, 128, 0.1);
}


/*---------------------------------------------------------------------------------------------------------*/
.more_info {    
    height: 325px; 
    width: auto;    
    margin-bottom: 30px;
    border-radius: 16px;
   background: linear-gradient( 175.9deg, hsla(209, 16%, 57%, 0.2) 15%, hsla(184, 27%, 59%, 0.2) 87.6%);
    
    -webkit-box-shadow: 0px 22px 68px -9px hsla(209, 16%, 47%, 0.2);
    -moz-box-shadow: 0px 22px 68px -9px hsla(209, 16%, 47%, 0.2);
    box-shadow: 0px 22px 68px -9px hsla(209, 16%, 47%, 0.2);
/*    transition: background 0.3s, border 0.1s, color 0.3s, box-shadow 0.3s;*/
    -webkit-backface-visibility: hidden;
    transition: all 1s ease; 
}
@media screen and (max-width:990px) {
    .more_info {  
        height: 100%;
    }
    .offer_info {
        margin: 0 30px;
    }
}
.more_info h3 {
    font-weight: bold;
}
.more_info ul li {
    margin-left: 20px;
}

@media screen and (max-width:800px) {
    
}

.offer {
    margin-bottom: 30px;
}









